<br>
<br>
<div class="page-footer" id="page-footer">
            <div class="container">
         	<div class="center">
         		        <a class="grey-text text-lighten-4 center" href="#!">© 2018 Oscar Micheaux Society</a>
         	</div>
    
            </div>