<nav>
    <div class="nav-wrapper blue darken-3">
    <a href="#" class="brand-logo"> <i class="material-icons">videocam</i></a>	
      <a href="#" class="brand-logo center">Oscar Micheaux</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><%= link_to 'Home', films_path%></li>
      </ul>
    </div>
  </nav>

  