<nav>
    <div class="nav-wrapper blue darken-3">
    <a href="#" class="brand-logo"> <i class="material-icons">videocam</i></a>	
      <%= link_to 'Oscar Micheaux Society', films_path, class: "brand-logo center"%>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <!-- <li><%# link_to 'Home', films_path%></li> -->
      </ul>
    </div>
  </nav>

  