<div class="search brand-logo center">
    <form action="search" method="get">
      <input type="text" class="searchTerm" placeholder="Search.." name="search">
      <button type="submit" class="searchButton" ><i class="material-icons">search</i></button>
    </form>
  </div>