<%= render partial: "partials/nav" %>

	<div class="container">
		 


      <div class="row">
   
      			<div class="center">
      				<%= image_tag('micheaux.jpg', size: "600x600", :class => "micheaux-img center")%>
      			</div>
      			
      			<!-- image_tag("icon.png", size: "16x10", alt: "Edit Entry") -->



            
	        	<h3 class="headers center">About Us</h3> 
	        	<div class="description-about center">

	        		<p class="about-p center">
	        		The Oscar Micheaux Society is dedicated to the advancement of early African American cinema. Although it is named for the prolific director/producer/writer, the mission of the organization is to promote research and scholarship about other producers of African descent working in the U.S. in the first decades of the twentieth century.The purpose of the Oscar Micheaux Society Scholarly Interest Group (OMS SIG) is to bring such scholars together in an effort to further the study of the entire Micheaux milieu as well as broader African American film culture of the early 20th century. With roots that span from issues of representation, to jazz, to genre, this is a rich and varied terrain; OMS SIG provides common ground for interested members of SCMS and provides a common border with a number of related fields (American and African-American Studies, U.S. History, Art History, etc.).
	        		</p>

	        		<p class="about-p center"> 
	        		 	The organization meets annually at the Society for Cinema and Media Studies conference as a Scholarly Interest Group. In the past, the Micheaux Society has published a newsletter in print form and it is in the process of conversion to a web format for wider circulation.
	        		</p>



	        	<h4 class=" headers center">Read Our Newsletter!</h4> 
	        		<!-- <div class="newsletters center">
	        			dsadsa
	        		</div> -->

	        </div>

	       

    	</div>
	</div>


<!-- Breaks for the sticky footer -->
<br>
<br>
<br>
<br>

<%= render partial: "partials/footer" %>