<%= render partial: "partials/nav" %>

<div class="container">
	<div class="row">
      </div>
	<div class="row">
      <div class="col s12">
      	<h1 id="title" class="left"> <strong>Oscar Micheaux Society</strong></h1>
      </div>

      <div class="col s8">
      	<p id="home-description"> The Oscar Micheaux Society is dedicated to the advancement of early African American cinema. Although it is named for the prolific director/producer/writer, the mission of the organization is to promote research and scholarship about other producers of African descent working in the U.S. in the first decades of the twentieth century.</p>
      </div>
   
    </div>
	
</div>