<!-- Navigation -->
<%= render partial: "partials/nav" %>

  <div class="container">
  	<h3 class=" center">Oscar Micheaux Films</h3>
  	<br>
  	<br>
  	<div class="center">
		<!-- Carousel Through Videos -->
			
			<!-- <div class="carousel carousel-slider"> -->
			<div class="carousel"> 
				<%video = Film.new%>
				<% @base_films.each do |film| %>
				<%= link_to image_tag("#{film.image_path}"), "/films/#{film.id}", :class=> "carousel-item", :id=> "carousel-img", :remote => true%>		   

			<% end %>
		</div>

			<div id="film-describe">
					
				</div>      

  	</div>
  </div>



<%= render partial: "partials/footer" %>


