<!-- Navigation -->
<%= render partial: "partials/nav" %>

  <div class="container">
  	<h3 class=" blue-text text-darken-3 center">Oscar Micheaux Films</h3>
  	<br>
  	<br>
  	<div class="center">
		<!-- Carousel Through Videos -->
			
			<div class="carousel carousel-slider">
				<%video = Film.new%>
			<% @base_films.each do |film| %>

				<%video.title = film.title%>
				<%video.description = film.description%>
				<%video.id = film.id%>
				<%video.director = film.director%>
				
				<%= link_to image_tag("#{film.image_path}"), "/films/#{film.id}", :class=> "carousel-item", :id=> "carousel-img"%>		   

			<% end %>
		</div>

			<div id="film-describe">
					  <%= render partial: "partials/describe",  locals: {title: video.title, description: video.description, id: video.id, director: video.director} %>
				</div>      

	

			  
        

  	</div>
  	

  </div>



<%= render partial: "partials/footer" %>


