<!-- Navigation -->
<%= render partial: "partials/nav" %>

  <div class="container">
  	<h3 class=" blue-text text-darken-3 center">Oscar Micheaux Films</h3>
  	<br>
  	<br>
  	<div class="center">
		<!-- Carousel Through Videos -->
			
			<div class="carousel">
				<%video = Film.new%>
			<% (1..5).each do |i|#@base_films.each do |film| %>
                <div class="c_item">
                    test
    				<%#video.title = film.title%>
    				<%#video.description = film.description%>
    				<%#video.id = film.id%>
    				<%#video.director = film.director%>
    				
    				<%# link_to image_tag("#{film.image_path}"), "/films/#{film.id}", :class=> "carousel-picture", :id=> "carousel-img"%>		   
                </div>
			<% end %>
		    </div>

			<div id="film-describe">
					  <%# render partial: "partials/describe",  locals: {title: video.title, description: video.description, id: video.id, director: video.director} %>
			</div>      
  	</div>
  </div>



<%= render partial: "partials/footer" %>


