<!-- Navigation -->
<%= render partial: "partials/nav" %>

  <div class="container">
  	<h3 class=" center">Oscar Micheaux Films</h3>
  	<br>
  	<br>
  	<div class="center">
		<!-- Carousel Through Videos -->
			
			<!-- <div class="carousel carousel-slider"> -->
			<div class="carousel"> 
				<%video = Film.new%>
				<% @base_films.each do |film| %>
				<%= link_to image_tag("#{film.image_path}"), "/films/#{film.id}", :class=> "carousel-item", :id=> "carousel-img"%>		   

			<% end %>
		</div>

<<<<<<< HEAD
			<div id="film-describe">
					
				</div>      
=======
			<!-- <div id="film-describe">
					  <#%= render partial: "partials/describe",  locals: {title: video.title, description: video.description, id: video.id, director: video.director} %>
				</div>  -->     
>>>>>>> master

	

			  
        

  	</div>
  	

  </div>



<%= render partial: "partials/footer" %>


