<%= render partial: "partials/nav" %>

	<div class="container">
		<h3 class= "indigo-darken-3-text center">Film Upload</h3>

		<div class="center row">
		    <div class="col-sm-12">
		    	<!-- Should decipher which form to generate based on user, render admin if admin user or in form file itself -->

		        <%= render 'form' %>
		    </div>
		</div>

	<%= link_to image_tag('share.png'), films_path, :class=> "left"%>





</div>

<!-- Breaks for the sticky footer -->
<br>
<br>
<br>
<br>
<br>
<br>


<%= render partial: "partials/footer" %>
