/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .

 */


body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }


  select {
  display: block !important;
}


#film_film_path, #film_essay_path{
	display: block;
	margin: auto;
}

#carousel-img{
  width: 300px;
  height: 500px;
}


#film-describe{
  top: 400px;
}



#download-img{
  margin-right: 5em;
}

#download-img-show{
  width: 20px;
  height: 30px;
}


#play-img{
  margin-left: 20px;
}

#tags-view{
  
}



.nav-wrapper {
  background-color: #353B5A;
}

#page-footer{
   background-color: #353B5A;
}

/*.clear{
  opacity: 0.5;
  background-color: none;
}*/


