/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require slick


 *= require slick-theme
 */
 


html {
    position: relative;
    min-height: 100%;
}


body {
    margin: 0 0 100px;
    /* bottom = footer height */
}

  select {
  display: block !important;
}


#film_film_path, #film_essay_path{
	display: block;
	margin: auto;
}

#carousel-img{
  width: 300px;
  height: 500px;
}


#film-describe{
  top: 400px;
}



#download-img{
  margin-right: 5em;
}

#download-img-show{
  width: 20px;
  height: 30px;
}


#play-img{
  margin-left: 20px;
}

#tags-view{
  
}



.nav-wrapper {
  background-color: #353B5A;
}

.nav_user{
  margin-right:20%;
}

#page-footer {
   /*position: relative;*/
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
   background-color: #353B5A;
}

.search {
  width: 20%;
  /*position: relative;*/
  /*float:right;*/
  margin-right: -5px;
}

/*Search bar fix*/
.nav-wrapper, .nav-wrapper form, .nav-wrapper form .input-field{ height: 100%; }

.searchTerm {
  float: left;
  width: 100%;
/*  border: 3px solid #353B5A;*/
  padding: 5px;
  height: 20px;
  /*border-radius: 5px;*/
  outline: none;
  color: white;
}

.searchTerm:focus{
  color: white;
}

.searchButton {
  position: absolute;  
  right: -50px;
  border: 3px solid #353B5A;
  width: 40px;
  height: 26px;
  top: -5px;
  background: #353B5A;
  text-align: center;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
}

.c_item {
  border:1px solid black;
}

#results-page{
  color: #353B5A;
  font-size: 2em;
}


h1, h2, h3, h4{
  color: #353B5A;

}

#session_container{
  width:40%;

}
.taggle-text{
  font-style: italic;
  font-size: 1.4em;
  font-color: #353B5A;
}

#description{
  font-style: italic;
}

#director{
  font-style: italic;
  font-color: #353B5A;
}

#essay{
  text-decoration: underline;
}

#search-title{
  color: #353B5A;
}

/*Resize the wrap to see the search bar change!*/
/*.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}*/

/*.clear{
  opacity: 0.5;
  background-color: none;
}*/


